{% extends "layouts/base.html" %} {% block content %}
<div>
  <img src="https://picsum.photos/200" alt="" />
</div>
<div>
  <h2>要加在哪？</h2>
</div>

{% for trip in trips %}
<div class="collapse collapse-arrow bg-base-200">
  <!-- 每個input都需要有唯一的id，label的for屬性指向該id -->
  <input type="radio" name="my-accordion" id="trip-{{ trip.id }}" class="peer" />
  <!-- 使用label與input配對，點擊title即可控制開關 -->
  <label class="collapse-title text-xl font-medium peer-checked:bg-blue-500" for="trip-{{ trip.id }}"> {{ trip.name }} </label>
  <div class="collapse-content">
    <form action="" method="post">
      {% csrf_token %}
      <input type="hidden" name="trip_id" value="{{ trip.id }}" />
      <input type="hidden" name="spot_id" value="{{ spot.id }}" />
      <button type="submit">{{ day|date:'Y-m-d' }} 日期</button>
    </form>
  </div>
</div>
{% endfor %} {% endblock %}
