{% extends "layouts/base.html" %}
{% block content %}
<div class="h-screen w-1/2 m-auto flex z-2">
  <div class="w-2/3 h-3/4 my-auto bg-slate-100">
    <img src="https://picsum.photos/700/800" alt="" class="w-full h-full">
  </div>
  <div class="w-1/3 h-3/4 my-auto pl-8 flex flex-col pt-4">
    <h2 class="text-2xl font-medium my-4">要加在哪?</h2>

    {% for item in trips_dates %}
    <div class="collapse collapse-arrow border-b-2 border-dashed rounded">
      <input type="radio" name="my-accordion" id="trip-{{ item.trip.id }}" class="peer" />
      <label class="collapse-title text-xl font-medium peer-checked:bg-blue-btn" for="trip-{{ item.trip.id }}"> {{ item.trip.name }} </label>
      <ul class="collapse-content px-2">
        {% for day in item.date_range %}
        <li class="my-2 px-4 bg-gray-100 rounded">
          <form action="{% url 'schedules:add' %}" method="post" class="w-full h-12">
            {% csrf_token %}
            <input type="hidden" name="trip_id" value="{{ item.trip.id }}" />
            <input type="hidden" name="spot_id" value="{{ spot.id }}" />
            <input type="hidden" name="spot_name" value="{{ spot.name }}" />
            <input type="hidden" name="day" value="{{ day|date:'Y-m-d' }}" />
            <button type="submit" class=" py-1 h-full w-full text-lg text-left">{{ day|date:'m/d' }}</button>
          </form>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
