{% extends 'layouts/base.html' %}

{% block content %}
  <div class="h-screen bg-blue-50">
    <header class="flex justify-start bg-sky-800">
      <a class="px-2 py-2 text-white bg-sky-800 hover:bg-sky-950" href="{% url 'home' %}">
        <i class="fa-solid fa-house-chimney"></i>
      </a>
      <a class="px-2 py-2 text-white bg-sky-800 hover:bg-sky-950" href="javascript:history.go(-1)">
        <i class="fa-solid fa-reply"></i>
      </a>
      <h1 class="px-2 py-2 text-white bg-sky-800">新增景點</h1>
    </header>
    <section class="flex justify-between px-3 py-3 mx-3 my-3 bg-white border rounded-lg h-35">
      <form class="pt-3" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="flex-col gap-2">
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </section>
  </div>
{% endblock %}
