{% extends "layouts/base.html" %} 
{% block content %}

<div class="h-screen bg-blue-50">

  <header class="flex justify-start bg-sky-800">
    <a class="px-2 py-2 text-white bg-sky-800 hover:bg-sky-950" href="{% url 'home' %}"><i class="fa-solid fa-house-chimney"></i></a>
    <h1 class="px-2 py-2 text-white bg-sky-800">景點列表</h1>
  </header>

  {% for spot in spot_list %}
    <div class="flex justify-between my-2 bg-white border rounded-lg fmx-2 center just juspx-2 jus hover:bg-blue-300 h-100">
      <form action="{% url 'spots:show' spot.id %}" method="post">
        {% csrf_token %}
        <button class="mx-3 my-3">
          <div class="flex items-start font-bold text-sky-800">{{ spot.name }}</div>
          <div>{{ spot.address }}</div>
        </button>
      </form>
      <form action="{% url 'spots:delete_spot_list' pk=spot.id %}" method="post">
        {% csrf_token %}
        <button class="text-sky-800 text-3xl" type="submit">X</button>
    </form>
    </div>
  {% endfor %}

  <div class="flex justify-center">
    {% comment %} <div class="flex justify-center">
      <a class="px-2 py-2 text-white border rounded-lg bg-sky-800 hover:bg-sky-950" href="{% url 'spots:new' %}">新增景點</a>
    </div> {% endcomment %}
    <div class="flex justify-center">
      <a class="px-2 py-2 text-white border rounded-lg bg-sky-800 hover:bg-sky-950" href="{% url 'spots:search' %}">搜索景點</a>
    </div>
  </div>

{% endblock %}
