{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="pt-8">

    <header class="flex items-center justify-between w-full p-4 mx-auto md:w-3/4">
        <div class="flex items-center w-full mb-2 md:w-auto md:mb-0">
            <a class="m-1 transition-colors duration-300 hover:text-sky-700" href="{% url 'trips:index' %}">
                <i class="text-2xl fa-solid fa-reply"></i>
            </a>
            <h1 class="p-2 text-2xl font-bold md:text-3xl">景點清單</h1>
        </div>
        <form method="get" action="" class="flex justify-center w-2/3 md:w-auto md:justify-end">
            <div class="relative inline-block w-full border md:w-52 border-slate-300 rounded-2xl">
                <select id="sort-options" name="sort" class="block w-full px-3 py-2 text-base text-black duration-300 ease-in-out bg-white appearance-none cursor-pointer md:text-xl border-slate-300 rounded-2xl">
                    <option value="rating_desc" {% if sort_option == 'rating_desc' %}selected{% endif %} class="bg-white appearance-none hover:bg-slate-200">依推薦指數</option>
                    <option value="average_rating_desc" {% if sort_option == 'average_rating_desc' %}selected{% endif %} class="bg-white appearance-none hover:bg-slate-200">依評論分數</option>
                    <option value="comment_count_desc" {% if sort_option == 'comment_count_desc' %}selected{% endif %} class="bg-white appearance-none hover:bg-slate-200">依評論人數</option>
                </select>
                <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
                    <i class="absolute inset-y-0 right-0 flex items-center px-5 py-4 pointer-events-none fa-solid fa-chevron-down"></i>
                </div>
            </div>
        </form>
    </header>
    
    <div class="w-3/4 mx-auto mt-2">
        <div class="flex flex-wrap justify-center gap-6">
            {% for spot in spots %}
            <div class="relative w-full sm:w-[48%] lg:w-[48%] xl:w-[32%] max-w-xs mt-5 mb-1">
                <a href="{% url 'spots:show' spot.id %}" class="block h-full duration-300 ease-in-out bg-white border-2 shadow-md cursor-pointer rounded-xl hover:scale-105">
                    <div class="w-full h-[220px] overflow-hidden rounded-t-xl">
                        <img src="{% if spot.photo_url %}{{ spot.photo_url }}{% else %}{% static 'img/tripdefault.jpeg' %}{% endif %}" class="object-cover w-full h-full" alt="">
                    </div>
                    <div class="p-4">
                        <h2 class="w-full text-xl font-bold truncate">{{ spot.name }}</h2>
                        <div class="flex items-center">
                            <div class="flex items-center mr-2">
                                {% if spot.total_comments > 0 %}
                                    <div class="flex items-center rating">
                                        <input type="radio" class="bg-orange-400 mask mask-star-2" value="1" checked disabled />
                                        <span class="ml-2 text-sky-700">
                                            {% with spot.average_rating|floatformat:1 as avg_rating %}
                                                {{ avg_rating }}
                                            {% endwith %}
                                        </span>
                                    </div>
                                {% else %}
                                    <span class="text-orange-400">尚無景點評分</span>
                                {% endif %}
                            </div>
                            <p class="text-lg truncate text-slate-700">{{ spot.city }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
