{% extends 'layouts/base.html' %} {% block content %}
<div class="h-screen bg-blue-50">
  <header class="flex justify-start bg-sky-800">
    <a class="px-2 py-2 text-white bg-sky-800 hover:bg-sky-950" href="{% url 'home' %}">
      <i class="fa-solid fa-house-chimney"></i>
    </a>
    <a class="px-2 py-2 text-white bg-sky-800 hover:bg-sky-950" href="javascript:history.go(-1)">
      <i class="fa-solid fa-reply"></i>
    </a>
    <h1 class="px-2 py-2 text-white bg-sky-800">景點：{{ spot.name }}</h1>
  </header>
  <section class="flex justify-between px-3 py-3 mx-3 my-3 bg-white border rounded-lg h-35">
      <div class="flex items-center">
        <img class="h-full" src="https://picsum.photos/200" alt="" />
        <div class="mx-5">
          <p class="text-lg font-bold text-sky-700">{{ spot.name }}</p>
          <p class="py-2 text-opacity-75 text-start text-sky-700">{{ spot.latitude }}</p>
          <p class="py-2 text-opacity-75 text-start text-sky-700">{{ spot.longitude }}</p>
          <p class="py-2 text-opacity-75 text-start text-sky-700">{{ spot.address }}</p>
        </div>
      </div>
      <div>
        <a class='btn' href="{% url 'spots:add_schedule' spot.pk %}">加入行程+</a>
      </div>
      <div>
        <i
				id="favoriteIcon"
				class="mt-4 fa-heart fa-2xl {% if member_spot %}fa-solid{% else %}fa-regular{% endif %} cursor-pointer"
			></i>
      </div>
	</section>
</div>
{% endblock %}
