
{% extends "layouts/base.html" %} 
{% block content %}
{% load static %}

<div class="h-screen">

  <header class="flex justify-start">
    <a class="px-2 py-2 text-black-100 hover:text-light-blue" href="javascript:history.go(-1)">
      <i class="fa-solid fa-reply"></i>
    </a>
    <h1 class="px-2 py-2 font-bold text-black-100">景點列表</h1>
  </header>

  {% for spot in spot_list %}
    <div class="flex justify-between my-2 bg-white border rounded-lg fmx-2 center just juspx-2 jus hover:bg-blue-300 h-100">
      <form action="{% url 'spots:show' spot.id %}" method="post">
        {% csrf_token %}
        <button class="mx-3 my-3">
          <div class="flex items-start font-bold text-sky-800">{{ spot.name }}</div>
          <div>{{ spot.address }}</div>
        </button>
      </form>
    </div>
  {% endfor %}
{% endblock %}
