YOUR_USER_NAME=
YOUR_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

LINE_CLIENT_ID=
LINE_CLIENT_SECRET=

MerchantID= # 商店 ID
HASHKEY= # 商店 HashKey
HASHIV= # 商店 HashIV
Version=2.0 # 串接程式版本，2023 年版本為 2.0

NotifyUrl= 
PayGateWay=https://ccore.newebpay.com/MPG/mpg_gateway 
RespondType='JSON'

HOST_NAME=  #網域

API_KEY=

