{% extends 'layouts/base.html' %}
{% load socialaccount %}
{% block content %}
  <div class="mx-auto my-10 flex w-[350px] flex-col border-2 bg-white text-black shadow-xl">
    <div class="mx-8 mt-7 mb-1 flex flex-row justify-start space-x-2">
      <div class="h-7 w-3 bg-home-yellow"></div>
      <div class="w-full text-start font-sans text-xl font-bold">
        <h1>登入</h1>
      </div>
    </div>

    <div>
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="my-6 text-center mx-auto flex justify-center items-center">
          <button class="flex justify-center rounded-3xl border-2 bg-white p-1 text-black hover:bg-gray-200 sm:p-2">
            <img src="https://freesvg.org/img/1534129544.png" class="mr-2 w-6 object-fill" />
            <a href="{% provider_login_url 'google' %}?next=/">Google 登入</a>
          </button>
        </div>
        <div class="my-6 text-center mx-auto flex justify-center items-center">
          <button class="flex justify-center rounded-3xl border-2 bg-white p-1 text-black hover:bg-gray-200 sm:p-2">
            <img src="https://img.icons8.com/?size=100&id=21746&format=png&color=000000" class="mr-2 w-6 object-fill" />
            <a href="{% provider_login_url 'line' %}?next=/">LINE 登入</a>
          </button>
        </div>
        <div class="flex flex-col items-center">
          <input class="w-72 px-2 py-2 border-2 rounded-lg focus:outline-none" type="email" placeholder="Email" name="email" />
          {% if request.GET.next  %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
          {% endif %}
          <input class="w-72 px-2 py-2 my-2 border-2 rounded-lg focus:outline-none" type="password" placeholder="Password" name="password" />
        </div>
        <div class="my-2 flex justify-center">
          <button type="submit" class="w-72 border bg-home-yellow p-2 font-sans text-xl font-bold">登 入</button>
        </div>
      </form>
    </div>
    <div class="mx-7 my-2 flex justify-end font-semibold">
      <div>
        <a href="{% url 'register' %}" class="underline underline-offset-2">註冊</a>
      </div>
    </div>
  </div>
{% endblock %}
