{% extends 'layouts/base-home.html' %}

{% block content %}
<main>
    <div id="banner" class="bg-home-yellow h-screen overflow-hidden">
        <section class="flex flex-col sm:flex-row relative items-center h-full pt-[86.22px]">
            <div class="absolute inset-0 flex left-14 sm:left-20 md:left-32 lg:left-42 sm:justify-start sm:items-start z-10 mt-20" style="padding-top:86.22px;">
                <div class="text-left">
                    <p class="text-2xl sm:text-4xl lg:pt-20 font-bold text-black dark:text-gray-300 leading-snug">
                        即刻啟程，<br>
                        和朋友來趟難忘的旅行吧!
                    </p>
                    <div class="flex mt-7 justify-center">
                        {% if user.is_authenticated %}
                            <a href="{% url 'trips:index' %}" class="btn h-14 text-2xl font-medium text-white bg-btn-red rounded-full hover:bg-btn-red-dc w-full max-w-xs sm:max-w-md border-btn-red">立即趣玩</a>
                        {% else %}
                            <a href="{% url 'login' %}" class="btn h-14 text-2xl font-medium text-white bg-btn-red rounded-full hover:bg-btn-red-dc w-full max-w-xs sm:max-w-md border-btn-red">立即趣玩</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <div class="absolute top-1/4 sm:top-0 right-10 mt-40 sm:hidden">
                <img class="w-full" src="../../static/img/content-pic.png" alt="Content Image">
            </div>

            <div class="absolute hidden sm:block right-0" style="width:90%">
                <img class="w-full" src="../../static/img/content-pic.png" alt="Content Image" >
            </div>

            <footer class="w-full bottom-0 py-6 bg-home-yellow absolute">
                <div class="w-full px-4 mx-auto text-center md:w-4/12">
                    <div class="py-1 text-sm font-medium text-white">
                    Copyright © <span id="get-current-year">2024 TripWay All rights reserved.
                    </div>
                </div>
            </footer>
        </section>
    </div>
</main>

{% endblock %}