{% extends 'layouts/base-home.html' %}

{% block content %}
<main>

    <div id="banner" class="bg-home-yellow pt-24 lg:pt-64">
        <section class="relative h-[70vh] lg:flex lg:items-center">

            <div class="block bottom-6 right-20 lg:right-2 lg:w-[90%] absolute">
                <img src="../../static/img/content-pic.png" alt="Content Image" >
            </div>
            

            <div class="lg:text-left left-16 lg:left-16 lg:-top-40 lg:w-1/2 pl-8 absolute">
                <p class="mt-32 text-4xl font-bold text-black pl-1 dark:text-gray-300 leading-snug">
                    即刻啟程，<br> 
                    和朋友來趟難忘的旅行吧!
                </p>
                <div class="flex justify-start mt-6">
                    <button class="h-16 text-2xl font-medium text-white mt-2 bg-btn-red rounded-full hover:bg-btn-red-dc w-full max-w-xs lg:max-w-md">
                        {% if user.is_authenticated %}
                            <a href="{% url 'trips:index' %}">立即趣玩</a>
                        {% else %}
                            <a href="{% url 'login' %}">立即趣玩</a>
                        {% endif %}
                    </button>
                </dir>
            </div>
        </section>
    </div>
</main>

<footer class="bottom-0 w-full pt-8 pb-6 bg-home-yellow">
    <div class="flex flex-wrap items-center justify-center md:justify-between">
    <div class="w-full px-4 mx-auto text-center md:w-4/12">
        <div class="py-1 text-sm font-medium text-white">
        Copyright © <span id="get-current-year">2024 TripWay All rights reserved.
        </div>
    </div>
    </div>
</footer>
{% endblock %}