{% extends "layouts/base.html" %}
{% block content %}
<main class="mt-20"> <!-- 調整為合適的 mt 值以確保內容區域與 navbar 分隔 -->
    <!-- 上面的 section -->
    <section class="w-full px-4 py-10 lg:h-128 lg:space-x-8 lg:flex lg:justify-center lg:items-center bg-blue">
        <!-- 上面的部分 -->
        <div class="w-full text-center lg:w-1/2">
            <h1 class="text-4xl font-bold leading-snug text-gray-800 dark:text-gray-200 md:text-4xl">快速規劃行程</h1>
    
            <p class="mt-4 text-lg font-bold text-gray-500 dark:text-gray-300">即刻啟程，<br>和朋友來趟難忘的旅行吧!</p>
            <!-- 將按鈕放在這裡 -->
            <div class="mt-8 flex justify-center">
                <button class="text-2xl font-bold bg-light-blue px-8 py-3 rounded-3xl text-white hover:bg-gray-500"><a href="{% url 'trips:index' %}">立即趣玩</a></button>
            </div>
        </div>
        <div class="w-full lg:mt-0 lg:w-1/2 bg-blue flex items-start">
            <a href="https://imgur.com/P1B2oZE" class="flex items-start">
                <img src="https://i.imgur.com/P1B2oZE.jpg" title="source: imgur.com" alt="行程圖片" />
            </a>
        </div>
    </section>
    
    <!-- 下面的 section -->
    <section id="hotspots-section" class="container px-4 pt-4 pb-10 mx-auto">
        <h2 class="mt-12 mb-10 text-4xl font-bold text-center text-gray-800">熱門旅遊景點</h2>
        <div class="grid grid-cols-4 gap-4 mt-8">
            <!-- 八張不同的圖片 -->
            <div> <!-- 父元素設置為相對定位 -->
                <a href="#" class="relative">
                    <img src="https://i.imgur.com/F9TKUDy.png" alt="台北木柵動物園" class="object-cover w-full rounded-lg h-4/5 transition duration-300 ease-in-out transform hover:scale-105">
                    <!-- 絕對定位在圖片的底部，並覆蓋住圖片 -->
                    <div class="absolute bottom-0 left-0 right-0 p-2 bg-gray-600 bg-opacity-50 rounded-lg">
                        <p class="text-center text-white font-bold text-xl">台北木柵動物園</p>
                    </div>
                </a>
            </div>
            <div> <!-- 父元素設置為相對定位 -->
                <a href="#" class="relative">
                    <img src="https://i.imgur.com/KZ77I0O.png" alt="圖台南奇美博物館" class="object-cover w-full rounded-lg h-4/5 transition duration-300 ease-in-out transform hover:scale-105">
                    <!-- 絕對定位在圖片的底部，並覆蓋住圖片 -->
                    <div class="absolute bottom-0 left-0 right-0 p-2 bg-gray-600 bg-opacity-50 rounded-lg">
                        <p class="text-center text-white font-bold text-xl">台南奇美博物館</p>
                    </div>
                </a>
            </div>
            <div> <!-- 父元素設置為相對定位 -->
                <a href="#" class="relative">
                    <img src="https://imgur.com/i0cqfvq.png" alt="宜蘭加羅湖" class="object-cover w-full rounded-lg h-4/5 transition duration-300 ease-in-out transform hover:scale-105">
                    <!-- 絕對定位在圖片的底部，並覆蓋住圖片 -->
                    <div class="absolute bottom-0 left-0 right-0 p-2 bg-gray-600 bg-opacity-50 rounded-lg">
                        <p class="text-center text-white font-bold text-xl">宜蘭加羅湖</p>
                    </div>
                </a>
            </div>
            <div> <!-- 父元素設置為相對定位 -->
                <a href="#" class="relative">
                    <img src="https://imgur.com/D07RS0U.png" alt="台東知本溫泉" class="object-cover w-full rounded-lg h-4/5 transition duration-300 ease-in-out transform hover:scale-105">
                    <!-- 絕對定位在圖片的底部，並覆蓋住圖片 -->
                    <div class="absolute bottom-0 left-0 right-0 p-2 bg-gray-600 bg-opacity-50 rounded-lg">
                        <p class="text-center text-white font-bold text-xl">台東知本溫泉</p>
                    </div>
                </a>
            </div>
            <div> <!-- 父元素設置為相對定位 -->
                <a href="#" class="relative">
                    <img src="https://imgur.com/YYuKtp0.png" alt="雪霸國家公園" class="object-cover w-full rounded-lg h-4/5 transition duration-300 ease-in-out transform hover:scale-105">
                    <!-- 絕對定位在圖片的底部，並覆蓋住圖片 -->
                    <div class="absolute bottom-0 left-0 right-0 p-2 bg-gray-600 bg-opacity-50 rounded-lg">
                        <p class="text-center text-white font-bold text-xl">雪霸國家公園</p>
                    </div>
                </a>
            </div>
            <div> <!-- 父元素設置為相對定位 -->
                <a href="#" class="relative">
                    <img src="https://imgur.com/rpLRDvZ.png" alt="新竹六福村" class="object-cover w-full rounded-lg h-4/5 transition duration-300 ease-in-out transform hover:scale-105">
                    <!-- 絕對定位在圖片的底部，並覆蓋住圖片 -->
                    <div class="absolute bottom-0 left-0 right-0 p-2 bg-gray-600 bg-opacity-50 rounded-lg">
                        <p class="text-center text-white font-bold text-xl">新竹六福村</p>
                    </div>
                </a>
            </div>
            <div> <!-- 父元素設置為相對定位 -->
                <a href="#" class="relative">
                    <img src="https://imgur.com/XH5sUPF.png" alt="花蓮翡翠谷" class="object-cover w-full rounded-lg h-4/5 transition duration-300 ease-in-out transform hover:scale-105">
                    <!-- 絕對定位在圖片的底部，並覆蓋住圖片 -->
                    <div class="absolute bottom-0 left-0 right-0 p-2 bg-gray-600 bg-opacity-50 rounded-lg">
                        <p class="text-center text-white font-bold text-xl">花蓮翡翠谷</p>
                    </div>
                </a>
            </div>
            <div> <!-- 父元素設置為相對定位 -->
                <a href="#" class="relative">
                    <img src="https://imgur.com/xKWCmXP.png" alt="台中逢甲夜市" class="object-cover w-full rounded-lg h-4/5 transition duration-300 ease-in-out transform hover:scale-105">
                    <!-- 絕對定位在圖片的底部，並覆蓋住圖片 -->
                    <div class="absolute bottom-0 left-0 right-0 p-2 bg-gray-600 bg-opacity-50 rounded-lg">
                        <p class="text-center text-white font-bold text-xl">台中逢甲夜市</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
</main>
{% endblock %}
