{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <script src="https://kit.fontawesome.com/18da6810a5.js" crossorigin="anonymous"></script>
    <!-- SweetAlert -->
    <script src="{% static 'scripts/output.js' %}" type="module"></script>
    <title>
        {% block title %}
            TripWay
        {% endblock %}
    </title>
    <style>
        html {
            scroll-behavior: smooth;
        }
        #hotspots-section {
            scroll-margin-top: 50px;
        }
        .relative:hover img {
            transition: transform-300 ease-in-out, scale 1.05;
        }
        .relative:hover p {
            transition: transform-300 ease-in-out, scale 1.05;
        }
    </style>
</head>
<body class="flex flex-col min-h-screen">
    {% include 'shared/navbar.html' %}
    {% block content %}
    {% endblock %}
    {% if messages %}
      {% for message in messages %}
        <script>
          document.addEventListener('DOMContentLoaded', function () {
            Toast.fire({
              icon: '{{ message.tags }}',
              title: '{{ message }}'
            })
          })
        </script>
      {% endfor %}
    {% endif %}
    
    {% block footer %}
        {% include 'shared/footer.html' %}
    {% endblock %}

  </body>
</html>
