{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'img/fav.ico' %}" />
    <link rel="stylesheet" href="{% static 'django_ckeditor_5/dist/styles.css' %}">
    <link href="https://unpkg.com/cropperjs/dist/cropper.min.css" rel="stylesheet">
    <script src="https://unpkg.com/cropperjs/dist/cropper.min.js"></script>
    <script src="https://kit.fontawesome.com/18da6810a5.js" crossorigin="anonymous"></script>
    <script src="{% static 'scripts/output.js' %}" type="module"></script>
    <script src="{% static 'django_ckeditor_5/dist/bundle.js' %}"></script>
    <title>
        {% block title %}
            TripWay
        {% endblock %}
    </title>
    {% block head_script %}
    {% endblock %}
</head>
<body class="flex flex-col min-h-screen">
    {% block navbar %}
        {% include 'shared/navbar.html' %}
    {% endblock %}
    
    <div class="flex-grow">
        {% block content %}
        {% endblock %}
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="notice-message" data-message="{{ message|escapejs }}" data-tags="{{ message.tags }}"></div>
        {% endfor %}
    {% endif %}

    {% include 'shared/footer.html' %}
</body>
{% block script %}
{% endblock %}
</html>
