{% extends 'layouts/base-map.html' %} 
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<div class="bg-base-white" style="height:calc(100vh - 88px); overflow: hidden;">
  <div class="wrap flex flex-col lg:flex-row h-full overflow-scroll">
    <div class="sm:w-2/5 w-full overflow-y-auto">
      <div class="label-block overflow-scroll">

        <div class="flex justify-start items-center my-6 mx-8">
          <a class="" href="{% url 'home' %}">
          </a>
          <a class="mr-3" href="{% url 'trips:index' %}">
            <i class="fa-solid fa-reply text-xl"></i>
          </a>
          <h1 class="text-2xl font-normal">{{ trip.name }}</h1>
        </div>

        <!-- 日期頁籤 -->
        <div role="tab" class="tabs flex text-start h-14 tabs-bordered">

          <!-- 刪除一天的行程 -->
          {% if trip_member.is_editable %}
          <form action="{% url 'trips:schedules:delete_day' trip.id %}" method="post">
            {% csrf_token %}
            <button id="delete-day" class="tab ml-1 h-14 rounded-2xl transition-all ease-in-out text-slate-700 hover:bg-gray-200" >
              <i class="fa-solid fa-minus text-2xl text-red-700"></i>
            </button>
          </form>
          {% endif %}
          {% for day in date_range %}
            <button id="btn-{{ day|date:'Y-m-d' }}" class="tab ml-1 mb-2 h-14 shadow-sm rounded-2xl transition-all ease-in-out font-bold bg-btn-yellow text-center flex items-center justify-center overflow-hidden text-ellipsis max-w-full px-4"
                    data-date="{{ day|date:'Y-m-d'}}"
                    onclick="showTab('{{ day|date:'Y-m-d' }}', 'btn-{{ day|date:'Y-m-d' }}', '{{ trip.id }}')">
                    <span class="block sm:hidden">{{ day|date:"m d" }}</span>
                    <span class="hidden sm:block">{{ day|date:"m/d" }}</span>
            </button>
          {% endfor %}
          
          <!-- 新增一天的行程 -->
          {% if trip_member.is_editable %}
          <form action="{% url 'trips:schedules:add_day' trip.id %}" method="post">
            {% csrf_token %}
            <button id="add-day" class="tab ml-1 h-14 rounded-2xl transition-all ease-in-out text-slate-700 hover:bg-gray-200" >
              <i class="fa-solid fa-plus text-2xl"></i>
            </button>
          </form>
          {% endif %}
        </div>

      </div>
      
      <div class="bottom-block overflow-scroll">
        <!-- 行程內容 -->
        {% for date, schedules in schedule_dates.items %}
        <div id="schedule{{ schedules.0.date|date:'Y-m-d' }}" class="tab-content mt-3">
          {% for schedule in schedules %}
          <div class="schedule-item flex mb-1 px-4 py-3 mx-8 my-6 shadow-lg rounded-custom-20 hover:bg-light-gray h-32" data-schedule-id="{{ schedule.id }}" data-order="{{ schedule.order }}" data-lat="{{ schedule.lat }}" data-lng="{{ schedule.lng }}">
            <div class="flex grow w-5/6">
              <span class="drag-handle mr-4 cursor-move text-3xl">&#9776;</span>
              <a href="{% url 'schedules:show' schedule.id %}" class="w-full h-full flex items-center overflow-hidden">
                <span class="schedule-index inline-block w-6 h-6 mr-2 text-center text-white bg-black rounded-full">{{ forloop.counter }}</span>
                <div class="flex-1 truncate">{{ schedule.spot_name }}</div>
                <div class="w-10 mx-1 text-gray-500">{{ schedule.start_time|time:"H:i" }}</div>
              </a>
            </div>
            {% if trip_member.is_editable %}
            <div class="flex grow-0 z-1000" x-data="{ deleteSchedule, open: false, submitScheduleChange }">
              <div><button class="px-2 py-2 rounded-lg hover:text-gray-650 text-cyan-850" @click="open = true"><i class="fa-solid fa-file-pen"></i></button></div>
              <form @submit.prevent="deleteSchedule($refs.id)" action="{% url 'schedules:delete' schedule.id %}" method="post" x-ref="id">
                {% csrf_token %}
                <button class="px-2 py-2 text-red-700 rounded-lg hover:text-gray-650"><i class="fa-regular fa-trash-can"></i></button>
              </form>
              <div x-show="open" class="fixed inset-0 mx-auto h-full z-50 flex items-center justify-center bg-black border-blue-800 bg-opacity-50">
                <div class="flex bg-white items-center space-y-4 space-x-4 relative w-4/5 lg:w-1/2 p-2 pr-6">
                  <button class="mt-8 mx-8 text-2xl absolute top-0 right-0" @click="open = false">X</button>
                  <form @submit.prevent="submitScheduleChange($refs.startTime, $refs.endTime, $refs.change)" action="{% url 'schedules:update' schedule.id %}" method="post" class="mt-8 mx-auto w-full" x-ref="change">
                  {% csrf_token %}
                    <div>
                      <h3 class="text-2xl truncate w-5/6">{{ schedule.spot_name }}</h3>
                      <div class="flex flex-col lg:flex-row my-2">
                        <div class="flex flex-col w-full lg:w-1/2 p-2 pr-4">
                          <div class="flex flex-col mb-6">
                            <label for="date" class="block font-bold text-lg">日期：</label>
                            <select name="date" id="date" required="required" class="select select-bordered w-full mt-2 border-gray-400 text-lg">
                              {% for date in date_range %}
                              <option value="{{ date|date:'Y-m-d' }}" {% if date|date:'Y-m-d' == schedule.date|date:'Y-m-d' %}selected{% endif %}>{{ date|date:'Y-m-d' }}</option>
                              {% endfor %}
                            </select>
                          </div>
                          <div class="flex flex-col mb-6">
                            <label for="start_time" class="block font-bold text-lg">抵達時間：</label>
                            <input type="time" name="start_time" x-ref="startTime" required="required" class="input input-bordered w-full mt-2 text-lg border-gray-400" value="{{ schedule.start_time|time:'H:i' }}" placeholder="選擇時間"/>
                          </div>
                          <div  class="flex flex-col mb-0 lg:mb-6">
                            <label for="start_time" class="block font-bold text-lg">離開時間：</label>
                            <input type="time" name="end_time" x-ref="endTime" required="required" class="input input-bordered w-full mt-2 text-lg border-gray-400" value="{{ schedule.end_time|time:'H:i' }}" placeholder="選擇時間"/>
                          </div>
                        </div>
                        <div class="flex flex-col w-full p-2 mb-6 my-2 mr-2 lg:mr-4">
                          <label for="note" class="block font-bold text-lg">行程筆記：</label>
                          <textarea name="note" id="note" type="text" class="textarea textarea-bordered textarea-md w-full h-full mt-2 text-lg border-gray-400">{{ schedule.note }}</textarea>
                        </div>
                      </div>
                      <div class="flex mt-2 mb-4 mr-4 justify-center items-center"><button type="submit" class="w-full h-14 items-center p-2 text-2xl text-white text-center font-bold bg-blue-btn hover:bg-blue-dc border rounded-3xl">更新行程資訊</button></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        {% endfor %}
        
        <!-- 新增景點按鈕 -->
        <div class="flex justify-center my-10">
          {% if trip_member.is_editable %}
            <a class="px-28 py-4 text-white border rounded-custom-50 bg-blue-btn hover:bg-blue-dc text-xl font-medium" href="{% url 'spots:index' %}">新增景點</a>
          {% endif %}
        </div>
        <div class="border-light-gray border"></div>
        <!-- 成員列表 -->
        <div class="flex justify-start pl-8 text-2xl mt-12 mb-8">
          <div>成員列表</div>  
        </div>
          {% for member in members %}
            <div class="flex justify-between items-center px-2 py-3 mx-8 my-4 bg-white border rounded-lg hover:bg-light-gray h-100" x-data="{ deleteMember }">
              
              <div class="flex items-center">
                {{ member.email }}
              </div>

              {% if trip_member.member_id == member.id %}
                <form @submit.prevent="deleteMember($refs.self)" action="{% url 'trips:delete-self' trip.id member.id %}" method="post" x-ref="self">
                  {% csrf_token %}
                  <input type="submit" value="X">
                </form>
              {% elif trip_member.is_editable and member.id != trip.owner %}
                <form @submit.prevent="deleteMember($refs.member)" action="{% url 'trips:delete-member' trip.id member.id %}" method="post" x-ref="member">
                  {% csrf_token %}
                  <input type="submit" value="X">
                </form>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
      <div id="map" style="flex-grow: 1;" class="hidden sm:block h-[80vh] m-2 sm:h-full border border-gray-500 sm border-none sm:m-0"></div>
      <span id="loading-spinner" class="absolute loading loading-ball loading-lg top-1/2 translate-y-[-50%] left-1/2 translate-x-[-50%] "></span>

  </div>
</div>
<link rel="stylesheet" href="{% static "styles/route.css" %}">
<link rel="stylesheet" href="{% static "styles/wait_web.css" %}">
{% endblock %}
{% block script %}
<script src="{% static "scripts/route.js" %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&libraries=places&callback=initMap" async defer></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

<script>
    flatpickr("input[type=time]", {
    enableTime: true,
    noCalendar: true,
    dateFormat: "H:i",
    time_24hr: true,
});
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const scheduleContainers = document.querySelectorAll(".tab-content");
    scheduleContainers.forEach(container => {
        new Sortable(container, {
            animation: 150,
            handle: ".drag-handle",
            onEnd: function(event) {
                const schedules = container.querySelectorAll(".schedule-item");

                // 更新前端的序號和 data-order 屬性
                schedules.forEach((item, index) => {
                    item.querySelector(".schedule-index").textContent = index + 1;
                    item.dataset.order = index + 1;
                });

                // 收集更新後的 scheduleIds 和對應的 order
                const updatedOrders = Array.from(schedules).map(item => ({
                    id: item.dataset.scheduleId,
                    order: parseInt(item.dataset.order)
                }));

                // 發送 AJAX 請求更新後端的排序
                fetch("/schedules/update_schedule_order", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                    body: JSON.stringify({ updatedOrders: updatedOrders })
                }).then(response => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    return response.json();
                }).then(data => {
                    if (data.success) {
                        console.log("排序更新成功")
                        // 更新地圖標記
                        updateMapMarkers();
                    } else {
                        console.error("排序更新失敗", data.message);
                    }
                }).catch(error => {
                    console.error("AJAX 請求錯誤:", error);
                });
            }
        });
    });
  });
</script>
{% endblock %}