{% extends "layouts/base.html" %}

{% block content %}
<div class="bg-color">
    <header class="header-color">
        <a class="icon" href="{% url 'home' %}"><i class="fa-solid fa-house-chimney"></i></a>
        <h1 class="title">行程列表</h1>
    </header>

    {% for schedule in schedules %}
    <div class="item">
      <div class="flex">{{ schedule.name }}
      </div>
      <form action="{% url 'schedules:delete' schedule.id %}" method="post">
        {% csrf_token %}
        <button>X</button>
      </form>
    </div>
    {% endfor %}
    <br>
    <div class="flex justify-center">
        <a class="btn" href="{% url 'schedules:new' %}">建立新行程</a>
    </div>
</div>
{% endblock %}