{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="pt-8">
    <header class="flex items-center justify-between w-full p-4 mx-auto md:w-3/4">
        <div class="flex items-center w-full mb-2 md:w-auto md:mb-0">
            <a class="m-1 transition-colors duration-300 hover:text-sky-700" href="{% url 'home' %}">
                <i class="text-2xl fa-solid fa-reply"></i>
            </a>
            <h1 class="p-2 text-2xl font-bold md:text-3xl">旅遊心得</h1>
        </div>
        <form method="get" action="" class="flex justify-center w-2/3 md:w-auto md:justify-end">
            <div class="relative inline-block w-full border md:w-52 border-slate-300 rounded-2xl">
                <select id="sort-options" name="sort" class="block w-full px-3 py-2 text-base text-black duration-300 ease-in-out bg-white appearance-none cursor-pointer md:text-xl border-slate-300 rounded-2xl" onchange="this.form.submit()">
                    <option value="created_at_desc" {% if sort_option == 'created_at_desc' %}selected{% endif %}>依發文時間</option>
                    <option value="views_desc" {% if sort_option == 'views_desc' %}selected{% endif %}>依瀏覽次數</option>
                </select>
                <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
                    <i class="absolute inset-y-0 right-0 flex items-center px-5 py-4 pointer-events-none fa-solid fa-chevron-down"></i>
                </div>
            </div>
        </form>
    </header>
    <div class="flex justify-center w-full p-4 mx-auto mt-5 md:justify-end md:w-3/4">
        <a href="{% url 'blogs:new' %}" class="inline-block px-8 py-3 text-lg font-bold text-center text-white bg-blue-btn rounded-3xl hover:bg-blue-dc">
            撰寫你的旅遊心得吧!
        </a>
    </div>
    <div class="w-3/4 mx-auto mt-2">
        <div class="flex flex-wrap justify-start gap-4">
            {% for blog in blogs %}
            <div class="relative w-full sm:w-[48%] lg:w-[48%] xl:w-[32%] max-w-xs mt-5 mb-1 duration-300 ease-in-out bg-white border-2 shadow-md rounded-xl hover:scale-105">
                <div class="w-full h-[220px] overflow-hidden rounded-t-xl">
                    <a href="{% url 'blogs:article' blog.id %}">
                        <img src="{{ blog.image.url }}" class="object-cover w-full h-full" alt="">
                    </a>
                </div>
                <div class="flex flex-col justify-between p-4" style="min-height: 250px;">
                    <div>
                        <h2 class="w-full text-xl font-bold truncate">{{ blog.title }}</h2>
                        <h3 class="w-full text-lg text-yellow-500 truncate">{{ blog.spot_name }}</h3>
                        <p class="line-clamp-3">{{ blog.content|striptags }}</p>
                    </div>
                    <div class="flex items-center justify-between mt-4">
                        <div class="flex items-center space-x-1">
                            <i class="text-gray-500 fa-solid fa-eye"></i>
                            <span class="text-sm text-gray-500">{{ blog.views }}</span>
                        </div>
                        <div class="flex space-x-2">
                            {% if blog.user == request.user %}
                            <button type="button" class="text-green-500 edit-btn hover:underline" onclick="location.href='{% url 'blogs:edit' blog.id %}'">編輯文章</button>
                            {% endif %}
                            <button type="button" class="text-blue-500 hover:underline" onclick="location.href='{% url 'blogs:article' blog.id %}'">閱讀全文</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
