{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="pt-8">
    <header class="flex items-center justify-between w-3/4 mx-auto">
        <h1 class="p-2 text-3xl font-bold">旅遊心得</h1>
        <a class="flex items-center justify-center p-2 ml-4 text-lg font-bold text-center text-white border bg-blue-btn hover:bg-blue-dc rounded-3xl" href="{% url 'blogs:new' %}">新增文章</a>
    </header>

    <div class="w-3/4 mx-auto mt-2">
        <div class="flex flex-wrap justify-start gap-4">
            {% for blog in blogs %}
            <div class="relative w-full sm:w-[48%] lg:w-[48%] xl:w-[32%] max-w-xs mt-5 mb-1">
                <a href="{% url 'blogs:article' blog.id %}" class="block h-full duration-300 ease-in-out bg-white border-2 shadow-md cursor-pointer rounded-xl hover:bg-blue-300 hover:scale-105">
                    <div class="w-full h-[220px] overflow-hidden rounded-t-xl">
                        <img src="{{ blog.image.url }}" class="object-cover w-full h-full" alt="">
                    </div>
                    <div class="p-4">
                        <h2 class="w-full text-xl font-bold truncate">{{ blog.title }}</h2>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
