{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="flex items-center justify-center min-h-screen p-4">
    <div class="w-full max-w-4xl p-8 bg-white rounded-lg shadow-lg">
        <h1 class="mb-4 text-3xl font-bold text-center">新增文章</h1>
        <form id="blog-form" method="post" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}
            <div>
                <label for="id_title" class="block text-lg font-medium text-gray-700">文章名稱</label>
                {{ form.title }}
            </div>
            <div>
                <label for="id_content" class="block text-lg font-medium text-gray-700">文章內容</label>
                <div class="flex justify-center">
                    <div class="w-full">
                        {{ form.content }}
                    </div>
                </div>
            </div>
            <div>
                <label for="id_image" class="block text-lg font-medium text-gray-700">封面圖片</label>
                {{ form.image }}
            </div>
            <div class="flex justify-center">
                <button type="submit" class="w-full px-4 py-2 text-lg font-bold text-white bg-blue-500 rounded hover:bg-blue-600">
                    建立文章
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>

    <script>
        // CKEditor 初始化代碼
        document.addEventListener('DOMContentLoaded', function() {
            if (CKEDITOR.instances['id_content']) {
                CKEDITOR.instances['id_content'].destroy(true);
            }
            CKEDITOR.replace('id_content', {
                skin: 'moono-lisa',
                toolbar: 'Full',
                height: 291,
                width: '100%',
                filebrowserWindowWidth: 940,
                filebrowserWindowHeight: 725,
                language: 'en-us',
                versionCheck: false
            });
        });

        // 表單提交時顯示隱藏的 textarea
        document.querySelectorAll('form').forEach(form => {
            form.addEventListener('submit', event => {
                let contentTextarea = document.querySelector('textarea[name="content"]');
                if (contentTextarea && contentTextarea.style.display === 'none') {
                    contentTextarea.style.display = 'block';
                }
            });
        });
    </script>
{% endblock %}
