{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="w-3/4 mx-auto mt-8">
        <header class="flex items-center mb-6">
            <a class="m-1 transition-colors duration-300 hover:text-sky-700" href="{% url 'home' %}">
                <i class="fa-solid fa-house-chimney text-2xl"></i>
            </a>
            <h1 class="text-3xl font-bold ml-4">所有通知</h1>
        </header>
        <div class="mt-4 bg-white shadow-md rounded-lg overflow-hidden">
            <ul class="divide-y divide-gray-200 border-t border-slate-200">
                {% if notifications %}
                    {% for notification in notifications %}
                        <li class="p-4 flex justify-between items-center {% if not notification.is_read %}bg-slate-200{% endif %} transition-colors duration-300">
                            <a href="{% url 'notifies:mark_as_read' notification.id %}" class="w-full flex items-center">
                                <div class="flex items-center my-3">
                                    <div class="flex-shrink-0 mr-2">
                                        {% if not notification.is_read %}
                                            <i class="fa-solid fa-envelope text-red-700 mr-2"></i>
                                        {% else %}
                                            <i class="fa-solid fa-envelope-open"></i>
                                        {% endif %}
                                    </div>
                                    <div>
                                        <span class="flex-1 text-lg font-semibold hover:underline">{{ notification.message }}</span>
                                    </div>
                                </div>
                            </a>
                            <div class="flex items-center">
                                <span class="ml-4 text-sm font-medium {% if notification.is_read %}text-gray-500{% else %}text-red-500{% endif %}"></span>
                                <form method="post" action="{% url 'notifies:delete_notification' notification.id %}" class="ml-4">
                                    {% csrf_token %}
                                    <button type="submit" class="text-sm hover:text-red">
                                        <i class="fa-solid fa-trash hover:text-red-700"></i>
                                    </button>
                                </form>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="p-4 text-center text-gray-500">目前沒有任何通知</li>
                {% endif %}
            </ul>
        </div>        
    </div>
{% endblock %}

<script src="{% static "scripts/notification.js" %}"></script>