{% extends "layouts/base.html" %}
{% block content %}

<div class="h-screen pt-8">
    <header class="flex justify-between items-center w-3/4 mx-auto">
      <div class="flex items-center">
        <a class="m-1 transition-colors duration-300 hover:text-sky-700" href="javascript:history.go(-1)">
          <i class="fa-solid fa-reply text-2xl"></i>
        </a>
        <h1 class="p-2 text-3xl font-bold">訂單資訊</h1>
      </div>
    </header>
  <section>
			<div class="w-1/3 mx-auto p-3 mt-3">
				<h3 class="text-2xl font-bold mb-2">{{ member }} 您好</h3>
				<p class="text-xl px-2">以下是您的訂單資訊</p>
				<p class="text-xl px-2">訂單總金額： {{ price }} </p>
			</div>
      <form action="https://ccore.newebpay.com/MPG/mpg_gateway" method="post" class="flex justify-center">
          <input type="hidden" name="MerchantID" value="{{ MerchantID }}" />
          <input type="hidden" name="TradeSha" value="{{ TradeSha }}" />
          <input type="hidden" name="TradeInfo" value="{{ TradeInfo }}" />
          <input type="hidden" name="Version" value="{{ Version }}" />
          <button type="submit" class="btn btn-active h-14 items-center text-xl text-white text-center font-bold bg-blue-btn hover:bg-blue-dc m-3">確認付款</button>
      </form>
  </section>
</div>

{% endblock  %}