{% extends "layouts/base.html" %}
{% load static %}
{% block content %}


<div class="h-screen pt-8">
    <header class="flex justify-between items-center w-3/4 mx-auto">
      <div class="flex items-center">
        <a class="m-1 transition-colors duration-300 hover:text-sky-700" href="javascript:history.go(-1)">
          <i class="fa-solid fa-reply text-2xl"></i>
        </a>
        <h1 class="p-2 text-3xl font-bold">會員升級</h1>
      </div>
    </header>
    <section class="w-full mx-auto">
			<h2 class="text-center text-3xl m-4 p-2">選擇升級方案</h2>
			<ul class="grid grid-cols-5 gap-6 h-full">
				<li class="col-start-2 border-2 border-blue-btn rounded-lg">
					<div class="flex flex-col items-center text-center pt-3 gap-6 ">
						<p class="text-center text-xl font-bold self-start pl-6">高級會員 </p>
						<div class="w-full h-[300px] overflow-hidden">
							<img src="{% static 'img/vip.jpeg' %}" alt="" class="object-cover w-full h-full">
						</div>
						<div class="h-32 text-start self-start p-8">
							<p class="text-lg">能邀請3人以上共同編輯行程</p>
						</div>
						<p class="text-center text-xl font-semibold">$ 300</p>
						<form action="{% url 'payments:create' %}" class="flex justify-center w-full" method="post">
							{% csrf_token %}
							<input type="hidden" name="price" value="300">
							<button type="submit" class="w-full h-14 items-center text-xl text-white text-center font-bold bg-blue-btn hover:bg-blue-dc">立即升級</button>
						</form>
					</div>
				</li>
				<li class="border-2 border-blue-btn rounded-lg">
					<div class="flex flex-col items-center text-center pt-3 gap-6">
						<p class="text-start text-xl font-bold self-start pl-6">黃金會員</p>
						<div class="w-full h-[300px] overflow-hidden">
							<img src="{% static 'img/VVIP.jpeg' %}" alt="" class="object-cover w-full h-full">
						</div>
						<div class="h-32 text-start self-start p-8">
							<p class="text-lg">收藏清單無限制</p>
							<p class="text-lg">能邀請5人以上共同編輯行程</p>
						</div>
						<p class="text-center text-xl font-semibold">$ 666</p>
						<form action="{% url 'payments:create' %}" class="flex justify-center w-full" method="post">
							{% csrf_token %}
							<input type="hidden" name="price" value="666">
							<button type="submit" class="w-full h-14 items-center text-xl text-white text-center font-bold bg-blue-btn hover:bg-blue-dc ">立即升級</button>
						</form>
					</div>
				</li>
				<li class="border-2 border-blue-btn rounded-lg">
					<div class="flex flex-col items-center text-center pt-3 gap-6">
						<p class="text-center text-xl font-bold self-start pl-6">白金會員 </p>
						<div class="w-full h-[300px] overflow-hidden">
							<img src="{% static 'img/SVIP.jpeg' %}" alt="" class="object-cover w-full h-full">
						</div>
						<div class="h-32 text-start self-start p-8">
							<p class="text-lg">收藏清單無限制</p>
							<p class="text-lg">每年4次機場接送服務</p>
							<p class="text-lg">專人安排客製化行程服務</p>
						</div>
						<p class="text-center text-xl font-semibold">$ 888</p>
						<form action="{% url 'payments:create' %}" class="flex justify-center w-full" method="post">
							{% csrf_token %}
							<input type="hidden" name="price" value="888">
							<button type="submit" class="w-full h-14 items-center text-xl text-white text-center font-bold bg-blue-btn hover:bg-blue-dc">立即升級</button>
						</form>
					</div>
				</li>
			</ul>
		</section>
	</div>




{% endblock  %}