
#map-container {
    display: flex;
    position: relative;
    height: 100vh;
}

#map {
    height: calc(100vh - 88px);
    width: 100%;
    position: relative;
}

@media (min-width: 640px) {
    #search-container {
    transform: none;
    left: -500px;
    right: auto;
    top: 80px;
    }
}

#search-container {
    display: flex;
    position: absolute;
    align-items: center;
    right: 20px;
    transform: translateX(-50%);
    z-index: 10;
}

#pac-input {
    background-color: rgb(255, 255, 254);
    width: 200px;
    height: 50px;
    border-radius: 30px;
    padding-left: 20px;
    margin-left: 10px;
}

@media (min-width: 640px) {
    .search-button-map {
    height: 80px;
    border-radius: 40px;
    padding: 0 20px;
    }
}
.search-button-map {
    height: 50px;
    border-radius: 50px;
    padding: 0 15px;
    background-color: #fff;
    border: 2px solid #060606;
    cursor: pointer;
    font-weight: 500;
    font-size: larger;
}
.info-window {
    font-family: Arial, sans-serif;
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}

.info-window .info-img {
    width: 100%;
    aspect-ratio: 4 / 3;
    margin: 0 auto;
}

.info-window .info-img img {
    display: block;
    max-width: unset;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.info-window img {
    max-width: 200px;
    margin-bottom: 10px;
}
