#map {
    height: calc(100% - 88px);
    position: relative;
}

.controls {
    height: 40px;
    border-radius: 20px;
    width: 200px;
}
.map-search {
    position: absolute;
    margin: 10px 0 0;
    z-index: 100;
    left: 426px;
}
.search{
    display: flex;
    gap: 10px;
    height: 40px;
}
.search button {
    display: flex;
    align-items: center;
    background-color: rgb(252, 252, 252);
    padding: 0 13px;
    border-radius: 20px;
    font-weight: 500;
    gap: 5px;
}
.search button img {
    height: 20px;
    width: 20px;
}


