.info-window {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-weight: 300;
    max-width: 100px;
    font-size: 14px;
}
#map {
    display: block;

}