{% extends 'layouts/base.html' %} 

{% block content %}
  <div class="h-screen bg-blue-50">
    <header class="flex justify-start bg-sky-800">
      <a class="px-2 py-2 text-white bg-sky-800 hover:bg-sky-950" href="{% url 'home' %}">
        <i class="fa-solid fa-house-chimney"></i>
      </a>
      <h1 class="px-2 py-2 text-white bg-sky-800">行程列表</h1>
    </header>

    {% for trip in trips %}
      <div class="flex justify-between my-2 bg-white border rounded-lg fmx-2 center just juspx-2 jus hover:bg-blue-300 h-100" x-data="{ deleteTrip() {
        Swal.fire({
          icon: 'question',
          title: '確定要刪除嗎?',
          text: '若選擇刪除，資料將會消失',
          showCancelButton: true,
          cancelButtonText: '取消',
          confirmButtonText: '刪除',
        }).then((result) => {
          if(result.isConfirmed){
            this.$refs['id{{ trip.t.id }}'].submit()
          }
        })
      } }">
        <div class="flex">
          <img src="{{ trip.t.image.url }}" class="w-[200px] h-[200px]" alt="">
          <form action="{{ trip.t.id }}/schedules/" method="post">
            {% csrf_token %}
            <button class="mx-3 my-3">
              <div class="flex items-start font-bold text-sky-800 text-xl">{{ trip.t.name }}</div>
              <div>{{ trip.t.start_date|date:'Y-m-d' }}~{{ trip.t.end_date|date:'Y-m-d' }}</div>
            </button>
          </form>
        </div>
        <div class="flex">
          {% if trip.tm.is_editable %}
            <a class="px-2 py-2 rounded-lg hover:text-gray-650 text-cyan-850" href="{% url 'trips:update' trip.t.id %}"><i class="fa-solid fa-file-pen"></i></a>
            <form @submit.prevent="deleteTrip()" action="{% url 'trips:delete' trip.t.id %}" method="post" x-ref="id{{ trip.t.id }}">
              {% csrf_token %}
              <button class="px-2 py-2 text-red-700 rounded-lg hover:text-gray-650"><i class="fa-regular fa-trash-can"></i></button>
            </form>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  <br />
  <div class="flex justify-center">
    <a class="px-2 py-2 text-white border rounded-lg bg-sky-800 hover:bg-sky-950" href="{% url 'trips:new' %}">建立新行程</a>
    <a class="px-2 py-2 text-white border rounded-lg bg-sky-800 hover:bg-sky-950" href="{% url 'trips:map' %}">查看地圖</a>
    <a class="px-2 py-2 text-white border rounded-lg bg-sky-800 hover:bg-sky-950" href="{% url 'spots:index' %}">景點清單</a>
  </div>
</div>
{% endblock %}
