{% load static %}
<html>
<head>
    <title>TripWay</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <script type="module" src="{% static "scripts/app.js" %}"></script>
    <script type="module" src="https://unpkg.com/@googlemaps/extended-component-library"></script>
</head>
<body>
{% include 'shared/navbar.html' %}
<div style="display: none">
    <input
            id="pac-input"
            class="controls"
            type="text"
            placeholder="搜索附近景點"
    />
</div>


<div id="map"></div>
<div id="infowindow-content">
    <span id="place-name" class="title"></span><br />
    {% comment %} <span id="place-id"></span><br /> {% endcomment %}
    <strong>Place Address:</strong> <span id="place-address"></span><br />
    <strong>Place Distance:</strong> <span id="distance"></span><br />
    <strong>Spend Time:</strong> <span id="duration"></span><br />
    {% comment %} <strong>Place Photo:</strong> <img id="place-photo" src="" alt="Place Photo"><br /> {% endcomment %}
    <span id="place-address"></span>
    <button id="restaurant-btn">附近餐廳</button>
    <button id="attraction-btn">附近觀光景點</button>
</div>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZzfaT30wnP7RD1eUtvA1U3K-fCLn4O4w&callback=initMap&libraries=places&v=weekly"
        defer
        loading="async"
></script>
</body>
</html>
