{% load static %}
<nav class="sticky top-0 left-0 z-50 flex items-center justify-between w-full py-4 sm:px-4 shadow-md bg-base-white">
    
    <a href="{% url 'home' %}" class="mx-3 mb-6 text-4xl font-bold">
        <div class="w-24 h-4">
        <img src="{% static 'img/logo-regular.png' %}" alt="TripWay Logo" class="object-cover w-full"/>
        </div>
    </a>
    
    {% if user.is_authenticated %}
    <div class="flex flex-1 mr-4 justify-center-0">
        <div class="relative overflow-hidden border border-black w-50 lg:w-80 rounded-custom-20 text-gray">
        <input
            id="search-input"
            type="text"
            placeholder="搜尋景點，例:動物園..."
            class="w-full px-4 py-2 pr-12 border-none text-gray focus:outline-none focus:ring-0"
        />
        <button id="search-button" class="absolute text-black transform -translate-y-1/2 right-2 top-1/2 hover:text-gray-700">
            <i class="fa-solid fa-magnifying-glass" style="font-size: 1.5rem;"></i>
        </button>
        </div>
    </div>
    {% endif %}


    <!-- 探索按鈕 + 會員 -->
    <div class="flex items-center">

        <!-- 電腦版 探索按鈕 -->
        <div class="hidden lg:flex lg:items-center">
            <ul class="flex pr-8 space-x-6">
                <li>
                    <a href="{% url 'trips:map' %}" class="flex items-center space-x-1 text-2xl font-medium hover:text-light-gray">地圖探索</a>
                </li>
                <li>
                    <a href="{% url 'spots:index' %}" class="text-2xl font-medium hover:text-light-gray">景點探索</a>
                </li>
                <li>
                    <a href="{% url 'trips:index' %}" class="text-2xl font-medium hover:text-light-gray">立即規劃</a>
                </li>
                <li>
                    <a href="{% url 'about' %}" class="flex items-center space-x-1 text-2xl font-medium hover:text-light-gray">關於我們</a>
                </li>
                <li>
                    <a href="{% url 'blogs:index' %}" class="text-2xl font-medium hover:text-light-gray">旅遊心得</a>
                </li>
            </ul>
        </div>

        <!-- 手機版 漢堡包圖標 -->
        <div class="sm:hidden">
            <button id="menu-toggle-btn" class="relative flex items-center pr-4 text-black hover:text-gray-500 focus:outline-none">
                <svg class="fill-current h-8 w-8" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                </svg>
            </button>
    
            <!-- 探索下拉選單 -->
            <ul id="menu-nav" class="absolute hidden z-10 bg-white shadow-md py-2 px-4 rounded-lg">
                <li>
                    <a href="{% url 'trips:map' %}" class="text-xl font-bold hover:text-light-gray">地圖探索</a>
                </li>
                <li>
                    <a href="{% url 'spots:index' %}" class="text-xl font-bold hover:text-light-gray">景點探索</a>
                </li>
                <li>
                    <a href="{% url 'trips:index' %}" class="text-xl font-bold hover:text-light-gray">立即規劃</a>
                </li>
                <li>
                    <a href="{% url 'about' %}" class="text-xl font-bold hover:text-light-gray">關於我們</a>
                </li>
                <li>
                    <a href="{% url 'blogs:index' %}" class="text-xl font-bold hover:text-light-gray">旅遊心得</a>
                </li>
            </ul>
        </div>
        
        
        <!-- 小鈴鐺通知 -->
        {% if user.is_authenticated %}
        <div id="notify" class="relative flex items-center w-8 h-8 mr-0 cursor-pointer sm:mr-4">
            <a href="{% url 'notifies:notification_list' %}" class="relative flex items-center w-8 h-8 cursor-pointer hover:text-light-gray">
                <i class="text-2xl fa-solid fa-bell"></i>
                <div id="notify-dot" class="absolute top-0 right-0 hidden w-3 h-3 bg-red-600 rounded-full"></div>
            </a>
        </div>
        {% endif %}
        
        <!-- 會員 -->
        <div class="dropdown dropdown-end">
        {% if user.is_authenticated %}
        <div class="relative">
            <button
            tabindex="0"
            class="w-10 h-10 bg-cover rounded-full bg-white"
            style="background-image: url('{% if user.image %}{{ user.image.url }}{% else %}{% static 'img/membericon.png' %}{% endif %}')"
            ></button>
        </div>
        {% else %}
            <button tabindex="0" class="text-xl bg-transparent border-none btn hover:bg-btn-red hover:text-white">登入/註冊</button>
        {% endif %}
            <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52 absolute top-14 right-0">
                {% if user.is_authenticated %}
                <li>
                <a href="{% url 'logout' %}" class="text-lg">登出</a>
                </li>
                {% if request.user.level != "白金會員" %}
                <li>
                <a href="{% url 'payments:upgrade' %}" class="text-lg">會員升級</a>
                </li>
                {% endif %}
                <li>
                <a href="{% url 'profile' %}" class="text-lg">個人資料</a>
                </li>
                {% else %}
                <li>
                <a href="{% url 'login' %}" class="text-lg">登入</a>
                </li>
                <li>
                <a href="{% url 'register' %}" class="text-lg">註冊</a>
                </li>
                {% endif %}

            </ul>
        </div>

    </div>
</nav>
<script src="{% static "scripts/search.js" %}"></script>
<script src="{% static 'scripts/output.js' %}" type="module"></script>

<script>
let unreadCount = 0;

{% for notification in notifications %}
    {% if not notification.is_read %}
        unreadCount++;
    {% endif %}
{% endfor %}

let notifyDot = document.getElementById('notify-dot');
if (notifyDot) {
    if (unreadCount > 0) {
        notifyDot.style.display = 'block';
    } else {
        notifyDot.style.display = 'none';
    }
}
</script>